.modal {
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    background-color: rgba(0,0,0,0.4);
    border: 1px solid black;
    opacity: 0;
    transition: 0.5s;
    pointer-events: none;
}

.active {
    opacity: 1;
    pointer-events: auto;
}

.modal__content {
    margin-top: 15px;
    padding: 20px;
    border-radius: 12px;
    background-color: white;
    transform: scale(0.5);
    transition: 0.4s all;
    width: 50vw;
    height: max-content;
}

.modal__content.active {
    transform: scale(1);
}